.date {
  margin-bottom: 3rem;
  user-select: none;
  min-height: 6rem;
  
  &__clock {
    display: inline-block;
    font-size: 6rem;
    line-height: 1;
    width: 30rem;
  }

  &__day {
    font-size: 4rem;
    display: inline;
  }
}