.search-container { width: 80%; margin-left: auto; margin-right: auto; display: none; }

.search {
  width: 100%; background: none;
  border-bottom: .2rem solid $accent-clr;
  font-size: 2.4rem; line-height: 2; color: $accent-w3; 
  
	&__engines { display: flex; margin-top: .8rem; transition: .3s all ease;
		li { color: $tabs; font-size: 1.4rem; margin-right: .6rem; } 
  }
}

.open { display: flex; animation: wrapperDispayAnimation 300ms linear; }

@keyframes wrapperDispayAnimation {
  from { display: none; opacity: 0; }  
  to { opacity: 1; } }